.parallax__layer {
	height: 100%;
	position: absolute;
	width: 2500px;
	left: 50%;
	margin-left: -1100px;
	img {
		max-width: 2500px;
		position: absolute;
		bottom: -600px;
		@include tablets {
			bottom: -800px;
		}
	}
}
