@function rem($px) {
	@return $px / 16px + 0rem;
}

//Media

@mixin desktop {
	@media only screen and (max-width : 1200px) {
		@content;
	}
}

@mixin laptop {
	@media only screen and (max-width : 992px) {
		@content;
	}
}

@mixin tablets {
	@media only screen and (max-width : 768px) {
		@content;
	}
}

@mixin mobile {
	@media only screen and (max-width : 480px) {
		@content;
	}
}